body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
    padding-top: 5rem;
    /*pt5r enter rem - относительно шрифта на странице*/
    margin: 0 auto;
    /*m0-a enter чтобы по-центру все приложение сделать*/
    width: 600px;
    /*w600 enter*/
}